.wrapper {
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-auto-flow: column;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
}

.panel {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
}